<section class="block block--dark block--skewed-left hero">
  <div class="grid grid--1x2 container hero__grid">
    <header class="block__header hero__content">
      <h1 class="block__heading hero__title">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds</p>
      <a
        href="#"
        class="button button--accent button--long button--block hero__btn"
        >Get Started</a
      >
    </header>

    <picture>
      <source
        type="image/webp"
        srcset="
          images/hero__image--resized/banner.webp    1x,
          images/hero__image--resized/banner@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          images/hero__image--resized/banner.png    1x,
          images/hero__image--resized/banner@2x.png 2x
        "
      />
      <img class="hero__img" src="images/banner.png" alt="" />
    </picture>
  </div>
</section>
