<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos harum, dolor
    omnis facilis ratione iure? Dolorum, minima! Sapiente, dolorum. Quibusdam
    expedita nulla adipisci est accusamus.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Armin Salinger</h3>
        <p class="quote__company">XYZ company</p>
      </div>
    </div>
  </footer>
</blockquote>
